# Package files
node_modules

# Docker
Dockerfile*
docker-compose*

# Markdown
*.md

# Tests
tests

# Dot files
.*

# Database files
prisma/*.db
prisma/*.db-journal

# Config files (mounted at runtime)
configs/
azalea.cfg.yml
