# Dependency directories

node_modules/

# TypeScript cache

*.tsbuildinfo

# dotenv environment variable files

*.env*
!.env.example
.secrets

# vuepress v2.x temp and cache directory

.temp
.cache

# IntelliJ based IDEs

.idea

# Finder (MacOS) folder config

.DS_Store

# Database files

*.db
*.db-journal
data/
prisma/backups/

# Logs

*.log
logs/

# Test coverage

coverage/

# Configuration

configs/*.yml
configs/.backups
azalea.cfg.yml

# AI agents

.claude
.opencode
